.card {
  .details-value {
    text-transform: capitalize;

    margin-bottom: 3px;

    .details-key {
      font-weight: 900;
    }
    font-weight: 600;
  }
  .more-btn {
    max-width: 100px;
  }
  .edit-btn {
    background-color: #7b61ff;
  }
  .remove-btn {
    background-color: rgba(192, 189, 189, 0.767);
  }
}
