<article class="bg-light mx-auto p-3 card my-4">
  <!-- * drag/drop icon  -->
  <i
    *ngIf="page === 'favorites'"
    class="fa fa-bars bg-light p-0 m-0 text-secondary"
  ></i>
  <div class="row row-cols-1 row-cols-md-2">
    <!-- ! left side -->
    <!-- * cover comic  -->
    <div class="col d-flex">
      <img
        [src]="comic.cover"
        [alt]="comic.title"
        width="150px"
        height="230px"
        class="d-block my-3"
      />
      <!-- * details comic -->
      <article class="d-flex flex-column justify-content-between ml-5 my-2">
        <div class="d-flex flex-column justify-content-start mt-2">
          <p class="details-value">
            <span class="details-key">title : </span>
            {{ comic.title | titlecase }}
          </p>
          <p class="details-value">
            <span class="details-key">format : </span>
            {{ comic.format | titlecase }}
          </p>
          <p class="details-value">
            <span class="details-key">pages : </span>
            {{ comic.pages ? comic.pages : 0 }}
          </p>
          <p class="details-value">
            <span class="details-key">condition : </span>
            {{ comic.condition | titlecase }}
          </p>
        </div>
        <!-- * button info -->
        <button
          [routerLink]="['/comics', comic.id]"
          [queryParams]="{ creator: isCreator ? true : false }"
          type="button"
          class="more-btn btn btn-outline-secondary btn-sm text-uppercase py-1 w-100 font-weight-bold mb-2"
        >
          more info
        </button>
      </article>
    </div>
    <!-- ! right side -->
    <div
      class="col d-flex flex-column justify-content-between mt-3 mx-auto mx-sm-0 align-items-end"
    >
      <!-- * price -->
      <h4 class="font-weight-bold mr-3">
        <span class="lead text-capitalize mr-2">price</span>
        {{ comic.price | currency: "USD":"symbol" }}
      </h4>

      <div class="d-flex flex-column justify-content-around">
        <!-- * favorite / buy botton -->
        <app-favorite-buy
          class="w-100"
          *ngIf="!isCreator || page === 'favorites'"
          [comic]="comic"
        ></app-favorite-buy>

        <!-- * edit botton -->
        <button
          data-toggle="modal"
          data-target="#editModal"
          type="button"
          *ngIf="isCreator && page !== 'favorites'"
          class="edit-btn btn text-white btn-sm text-uppercase m-2 w-50 ml-auto py-2 px-0 font-weight-bold"
        >
          edit
        </button>
        <!-- * remove botton -->
        <button
          data-toggle="modal"
          data-target="#removeModal"
          type="button"
          *ngIf="isCreator && page !== 'home' && page !== 'favorites'"
          class="remove-btn btn text-white btn-sm text-uppercase m-2 w-50 ml-auto py-2 px-0 font-weight-bold"
        >
          remove
        </button>
        <div class="d-flex justify-content-end mt-1">
          <!-- * infos creator -->
          <p class="d-block mr-3 text-capitalize">
            <span class="mr-2 font-weight-bold">created at </span>
            {{ comic.date | date: "shortDate" }}
          </p>
          <p
            *ngIf="comic.owner && !isCreator"
            class="d-block mr-3 text-capitalize"
          >
            <span class="mr-2 font-weight-bold">by</span>
            {{ comic.owner | titlecase }}
          </p>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- ? remove Modal -->

<app-remove-modal
  *ngIf="isCreator"
  [id]="'removeModal'"
  [comicId]="comic.id"
></app-remove-modal>

<!-- ? edit Modal -->
<app-add-modal
  [page]="'myComics'"
  *ngIf="isCreator"
  (onComicEdited)="onComicEdited($event)"
  [id]="'editModal'"
  [comicId]="comic.id"
  [mode]="'edit'"
  [comicDetailsIsHere]="comic"
>
</app-add-modal>
