<section class="my-5 d-flex w-100 filter-bar">
  <!-- ! serach input-->
  <form (ngSubmit)="onSearch()" class="d-flex bg-white search-input p-0">
    <input
      name="search"
      [(ngModel)]="search"
      class="form-control mr-sm-2 border-0"
      type="search"
      placeholder="I'm Looking for ..."
      aria-label="Search"
    />
    <button type="submit">
      <i
        class="fa fa-search bg-white h3 text-secondary pr-2"
        aria-hidden="true"
      ></i>
    </button>
  </form>
  <!-- ! characters select-->
  <div class="form-group">
    <select
      class="form-control my-2 char-list custom-select"
      (click)="onCharacterClicked()"
      (change)="onCharacterSelected(character.value)"
      #character
    >
      <option hidden><span class="text-muted"> Character</span></option>
      <option *ngFor="let char of characters" [value]="char.id">
        <article class="d-flex w-100">
          <img
            [src]="char.image"
            [alt]="char.name"
            class="d-block mr-2"
            width="50px"
            height="50px"
          />
          <h6>{{ char.name | titlecase }}</h6>
        </article>
      </option>
    </select>
  </div>

  <!-- ! Order By-->
  <div class="form-group">
    <select class="form-control my-2" (change)="onOrderBy(order.value)" #order>
      <option hidden>Alphabetical</option>
      <option value="title"><h6 class="">Alphabetical</h6></option>
      <option value="-onsaleDate">Most Recent</option>
      <option value="priceInc">Price - Low to High</option>
      <option value="priceDesc">Price - High to Low</option>
    </select>
  </div>
  <!-- ! quantity-->
  <div class="form-group">
    <select
      class="form-control my-2"
      (change)="onQuantity(quantity.value)"
      #quantity
    >
      <option value="15">Show - 15</option>
      <option value="30">Show - 30</option>
      <option value="50">Show - 50</option>
    </select>
  </div>
</section>
