<section class="homePage">
  <div class="container my-5">
    <!--! filters bar-->
    <app-filters-bar
      [comicsList]="comics"
      (onSearchComic)="onSearchComic($event)"
      (onOrderComic)="onOrderComic($event)"
      (onQuantityComic)="onQuantityComic($event)"
      (onSingleCharacterSelected)="onSingleCharacterSelected($event)"
      class="mb-5"
    ></app-filters-bar>
    <!--! is error-->
    <app-error *ngIf="isError" [message]="isError" class="mt-5"></app-error>
    <!--! is loading -->
    <app-loading *ngIf="isloading && !isError" class="d-block"></app-loading>
    <!--! no data found -->
    <app-no-data
      *ngIf="(comics.length < 0 && !isloading) || isNoData"
    ></app-no-data>
    <!--! selcted comic badge -->
    <app-character-badge
      *ngIf="character.id"
      [character]="character"
    ></app-character-badge>
    <!--! comics list-->
    <app-comic-card
      [id]="comic.id"
      class="py-5"
      *ngFor="let comic of comics"
      [comic]="comic"
      [page]="'home'"
    ></app-comic-card>
    <!--* lazy loading component wrapp image loading-->
    <app-lazy-loading-scroll (scrolled)="onScroll()">
      <img
        *ngIf="!isloading"
        src="../../../../assets/images/spinner.gif"
        alt="spinner"
        width="50px"
        height="50px"
        class="d-block mx-auto my-5"
      />
    </app-lazy-loading-scroll>
  </div>
</section>
