<section class="homePage">
  <div class="container my-5">
    <app-filters-bar class="mb-5"></app-filters-bar>
    <app-error *ngIf="isError" [message]="isError" class="mt-5"></app-error>
    <app-loading *ngIf="isloading && !isError" class="d-block"></app-loading>
    <app-comic-card
      class="py-5"
      *ngFor="let comic of comics"
      [comic]="comic"
    ></app-comic-card>

    <app-lazy-loading-scroll
      (scrolled)="onScroll($event)"
      *ngIf="isFetched && !isloading"
      style="height: 400px; overflow-y: auto"
    >
      <h1>hi</h1>
    </app-lazy-loading-scroll>
  </div>
</section>
<!--! no data found -->
<app-no-data *ngIf="comics.length < 0 && !isloading"></app-no-data>
